

// BLUE

$blue-1: #465cff; // for most of the content (including buttons and backgrounds)
$blue-2: #007aff; // for btn-lightblue
$blue-3: #7d8dfe; // for hrs and blue icons
$blue-4: #95c0dc; // for h4 in jumbutron2
$blue-5: #011ff1; // for John Smith background in blog-author & background of section 1 in contact-us

// DARK COLOURS

$black: #000000; // for both titles and backgrounds
$dark-1: #1a1d1f; // for top-section-dark & pre-footer background
$dark-2: #131516; // for footer background

// LIGHT COLOURS

$dots-light: #d6d6d6; // dots-light
$dots-dark: #5e5f5e; // dots-dark
$grey: #888888; // grey text
$white: #FFFFFF; // white text & background
$background-grey: #f5f5f5; // for grey backgrounds
$grey-btn: #eeecec; // for grey buttons in portfolio-2
$light-text: #d6d6d6; // for "Co-Founder" in tweet
$grig-bg: #202020; // for blog grig background



