// INDIVIDUAL BLOCKS: BLOCK 1

.block-1{
	display: flex;
	flex-direction: column;
	font-family: $subtitle;
	align-items: center;
	background-color: $white;
	padding: 5px 30px;
	box-sizing: border-box;
	text-align: center;
	h3{
		font-size: $normal;
		font-weight: $extra-bold;
		margin-top: 20px;
		margin-bottom: 0;
	}
	p{
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $tiny;
		line-height: 25px;
		color: $grey;
	}
	svg{
		margin-top: 10px;
	}	
}

// INDIVIDUAL BLOCKS: BLOCK 2

.block-2{
	display: flex;
	font-family: $subtitle;
	background-color: $white;
	box-sizing: border-box;
	h3{
		font-size: $normal;
		font-weight: $extra-bold;
		margin-top: 0;
		margin-bottom: 0;
	}
	p{
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $tiny;
		line-height: 25px;
		color: $grey;
	}
	div{
		margin-left: 20px;
	}
	svg{
		width: 46px;
		height: 46px;
	}
	a{
		text-decoration: none;
		color: $blue-3;
		font-size: $micro;
		font-weight: $bold;
		line-height: 4;
	}
}

// INDIVIDUAL BLOCKS: BLOCK 3

.block-3{
	display: flex;
	font-family: $subtitle;
	background-color: $white;
	margin-bottom: 20px;
	h3{
		font-size: $normal;
		font-weight: $extra-bold;
		margin-top: 0;
		margin-bottom: 0;
	}
	p{
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $tiny;
		line-height: 25px;
		color: $grey;
	}
	div:nth-of-type(2){
		margin-left: 20px;
	}
}

// INDIVIDUAL BLOCKS: BLOCK 4

.block-4{
	display: flex;
	flex-direction: column;
	font-family: $subtitle;
	align-items: center;
	background-color: $white;
	padding: 5px 30px;
	box-sizing: border-box;
	text-align: center;
	h3{
		font-size: $normal;
		font-weight: $extra-bold;
		margin-top: 20px;
		margin-bottom: 0;
	}
	p{
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: $tiny;
		line-height: 25px;
		color: $grey;
	}
	div{
		height: 100px;
		width: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $blue-1;
		border-radius: 100px;
		box-shadow: 0 0 70px 0px $light-text;
	}
}

// INDIVIDUAL BLOCKS: STATS BLOCKS

.section-stats-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background-color: red;
	color: $white;
	font-family: $subtitle;
	h3{
		font-size: 30px;
		font-weight: $extra-bold;
		margin-bottom: 0;
	}
	p{
		font-size: $small;
		margin-top: 3px;
	}
}

// GROUP

.index-section-6-block-group{
	max-width: (1280px - 320px) / 1280px * 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
	.block-1{
		max-width: 300px;
		margin: 10px;
	}	
}

.minimal-section-1-top{
	@extend .index-section-6-block-group;
}

.d-agency-section-1-block-group{
	@extend .index-section-6-block-group;
}

.index-section-1-blocks{
	@extend .index-section-6-block-group;
	.block-2{
		max-width: 300px;
		margin: 10px;
	}
}

.d-agency-section-2-left-bottom{
	display: flex;
	flex-direction: column;
	align-items: center;
	.block-3{
		max-width: 360px;
		// margin: 10px;
	}
}

.contact-us-section-2-blocks{
	@extend .index-section-6-block-group;
	.block-4{
		max-width: 300px;
		margin: 10px;
	}
}

.section-stats{
	max-width: (1280px - 250px) / 1280px * 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	.section-stats-block{
		width: 300px;
		margin: 10px;
	}	
}